* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

/* GENERAL SETS */

body {
  background-color: rgb(253, 251, 251);

}

header, h1, h2, h3 {
  font-family: "DynaPuff", cursive;
  color: rgb(81, 38, 99);

}

h2:hover {
  color: rgb(56, 1, 80);
  transition: 0.5s;

}

h3:hover {
  color: rgb(56, 1, 80);
  transition: 0.5s;

}

main {
  margin-top: 190px;

}

.first-container {
  margin: 20px;
  padding: 10px;

}

/* PRIMEIRA VIEW DO SITE */

/* HEADER */

header {
  position: fixed;
  top: 0;
  width: 100%;
  text-align: center;
  background-image: linear-gradient(rgb(3, 109, 107), rgb(253, 251, 251));
  z-index: 2;

}

header h1 {
  font-size: 65px;
  padding: 0;
  margin: 30px;
  text-shadow: 2px 2px rgb(86, 115, 163);

}

h1:hover {
  color: rgb(23, 0, 32);
  transition: 0.5s;

}

.apresentation{
  height: 65vh;
  text-align: center;
}

/* TEXT - Left */

aside {
  display: inline-block;
  text-align: center;
  width: 30%;
  position: relative;
  bottom: 3vh;
}

aside p {
  padding: 10px;
  line-height: 30px;
  font-size: 21px;

}

/* SOCIAL MEDIA ICONS */

.icons { 
  margin: 10px;

}

.social-media {
  width: 30px;
  margin-right: 40px;
  display: inline-block;

}

.social-media:hover {
  width: 4%;
  transition: 0.5s;

}

/* IMAGEM */

.myself-image {
  display: inline-block;

}

.myself-image img {
  width: 320px;
  border-radius: 50%;
  position: relative;
  filter: drop-shadow(10px 10px 12px gray);

}

.myself-image img:hover {
  width: 350px;
  transition: 0.9s;

}

/* TEXT - Right */

.description {
  text-align: center;
  width: 40%;
  display: inline-block;
  font-size: 19px;
  margin-top: 60px;

}

/* .description h2, p {
  margin: auto;

} */

.description h2 {
  margin-left: 50px;

}

.description p {
  padding: 10px;
  line-height: 30px;
  margin-left: 50px;

}

/* SEGUNDA VIEW DO SITE */

.gap-junction h2 {
  text-align: center;
  background-image: linear-gradient(rgb(255, 255, 255), rgb(29, 167, 164), rgb(255, 255, 255));
  text-shadow: 2px 2px #8dade0;
  margin: 0;
  padding: 40px;
  font-size: 2em;

}

.second-container {
  text-align: center;
  margin: 5px;
  height: 540px;

}

.second-container li {
  font-size: 20px;

}

.second-container li:hover {
  font-size: 30px;
  transition: 0.2s;
  font-weight: 600;
}

.present-skills {
  display: inline-block;
  width: 50%;

}

.present-skills h3 {
  margin: 40px;

}

.present-skills ol {
  margin: 40px;

}

.title-section {
  text-align: center;
  padding: 10px;
  font-size: 1.5em;

}

.future-skills {
  display: inline-block;
  width: 30%;
  margin-left: 100px;

}

.future-skills h3 {
  margin: 40px;

}

.future-skills ul {
  margin: 40px;
  list-style: none;

}

/* TERCEIRA VIEW DO SITE */

/* TEBALE */

.feelings-table {
  text-align: center;
  margin: 5px;
  margin-bottom: 50px;

}

table {
  display: inline-block;
  margin: 3px;

}

table, tr, td {
  border: 3px solid rgb(81, 38, 99, 0.8);
  font-size: 25px;
  padding: 5px;
  border-collapse: collapse;

}

tr, td {
  width: 90vh;

}

/* FOOTER */

#rodape {
  width: 100%;
  text-align: center;
  padding: 10px;
  background-image: linear-gradient(rgb(253, 251, 251), rgb(3, 109, 107));
  position: fixed;
  bottom: 0;

}
