* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

/* GENERAL SETS */

body {
  background-color: rgb(253, 251, 251);
}

header,
h1,
h2,
h3 {
  font-family: 'DynaPuff', cursive;
  color: #512663;

}

main {
  margin-top: 220px;

}

.first-container {
  margin: 20px;
  padding: 10px;

}

.second-container {
  margin: 5px;
  height: 540px;

}

/* PRIMEIRA VIEW DO SITE */

/* HEADER */

header {
  position: fixed;
  top: 0;
  width: 100%;
  text-align: center;
  position: fixed;
  background-image: linear-gradient(#036d6b, #fdfbfb);
  z-index: 2;
}

header h1 {
  font-size: 65px;
  padding: 0;
  margin: 35px;
  text-shadow: 2px 2px #5673a3;

}

/* TEXT - Left */

aside {
  display: inline-block;
  text-align: center;
  width: 33%;
  position: relative;
  bottom: 12vh;
}

aside p {
  padding: 10px;
  line-height: 30px;
  font-size: 21px;
}

/* SOCIAL MEDIA ICONS*/

.social-media {
  width: 40px;
  margin: 10px;
  display: inline-block;

}

/* IMAGEM */

.myself-image {
  display: inline-block;
}

.myself-image img {
  width: 360px;
  border-radius: 50%;
  position: relative;
  top: 10px;
}

/* TEXT - Right */

.description {
  text-align: center;
  width: 35%;
  display: inline-block;
  font-size: 17px;

}

.description p {
  padding: 10px;
  line-height: 30px;

}

/* SEGUNDA VIEW DO SITE*/

.gap-junction h2 {
  text-align: center;
  background-image: linear-gradient(#bdfcfc, #1da7a4, #bdfcfc);
  text-shadow: 2px 2px #8dade0;
  margin: 0;
  padding: 40px;
  font-size: 2em;

}

.second-container {
  text-align: center;
}

.second-container li {
  font-size: 20px;

}

.present-skills {
  display: inline-block;
  width: 48%;

}

.present-skills h3 {
  margin: 40px;

}

.present-skills ol {
  margin: 40px;

}

.title-section {
  text-align: center;
  padding: 10px;
  font-size: 1.5em;

}

.future-skills {
  display: inline-block;
  width: 48%;

}

.future-skills h3 {
  margin: 40px;

}

.future-skills ul {
  margin: 40px;
  list-style: none;

}

/* TERCEIRA VIEW DO SITE*/

/* TEBALE */

.feelings-table {
  text-align: center;
  margin: 5px;
  margin-bottom: 50px;

}

table {
  display: inline-block;
  margin: 3px;

}

table,
tr,
td {
  border: 3px solid rgb(81, 38, 99, 0.8);
  font-size: 25px;
  padding: 5px;
  border-collapse: collapse;

}

tr,
td {
  width: 90vh;
}

/* FOOTER */

#rodape {
  width: 100%;
  text-align: center;
  padding: 10px;
  background-image: linear-gradient(#fdfbfb, #036d6b);
  position: fixed;
  bottom: 0;
}
